GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

NEXTAUTH_URL=http://localhost:5173
AUTH_SECRET=dev-secret-key

# 회원api
NEXT_PUBLIC_API_URL=http://192.168.20.49:60821
# NEXT_PUBLIC_API_URL=http://192.168.20.13:60821

# 서버에서 API 호출 시 사용
API_BASE_URL=http://192.168.20.49:60821
# API_BASE_URL=http://192.168.20.13:60821

# 발전소 GATEWAY
PLANT_GATEWAY=http://192.168.20.49:60823
# PLANT_GATEWAY=http://192.168.20.13:60823
# PLANT_GATEWAY=http://120.50.92.99:60823

# 발전소 공통 GATEWAY
PLANT_COMMON_GATEWAY=http://192.168.20.49:60821
# PLANT_COMMON_GATEWAY=http://192.168.20.13:60821

# 전력 GATEWAY
POWER_GATEWAY=http://192.168.20.49:60822





# 웹소켓
NEXT_PUBLIC_WS_SOLAR=http://solar-ext-solar-websocke-5f6bd-133799659-eded04a97ebe.kr.lb.naverncp.com/ws-solar


# 추이차트
NEXT_PUBLIC_WS_SOLAR_CHART_TOPIC=/topic/transition-chart
# 추이리스트
NEXT_PUBLIC_WS_SOLAR_LIST_TOPIC=/topic/transition-list
# 대시보드
NEXT_PUBLIC_WS_SOLAR_OPERATION_CHART_TOPIC=/topic/operate-chart

# NEXT_PUBLIC_WS_SOLAR_TOPIC=/topic/realtime-data
# NEXT_PUBLIC_WS_SOLAR_DASHBOARD_CHART_TOPIC=/topic/chart-data
# NEXT_PUBLIC_WS_SOLAR_SEND=/app/request-multi-solar-data

