
.react-aria-Checkbox {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--spacing-2);
  cursor: pointer;
  border: 0;

  > span {
    width: 100%;
    height: 100%;
  }

  .indicator {
    box-sizing: border-box;
    border-radius: var(--radius-sm);
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-40);
    background: #fff;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  // hover / active / focus
  &[data-hovered],
  &[data-active],
  &[data-focus-visible] {
    .indicator {
      background: var(--gray-20);
      border-color: var(--gray-40);
    }
  }

  // selected
  &[data-selected] {
    .indicator {
      border-color: var(--gray-70);
      background: var(--gray-70);
    }
  }

  // disabled
  &[data-disabled] {
    cursor: not-allowed;

    // disabled + checked
    &[data-selected] {
      .indicator {
        border-color: var(--gray-40);
        background: var(--gray-40);
      }
    }
  }

  &[data-indeterminate] {
    svg {
      stroke: var(--gray-20);
      fill: var(--gray-20);
    }
  }
}
