// 변수 및 믹스인 등을 활용할 수 있는 SCSS 구조
.react-aria-Tree {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;

  outline: none;

  --drag-button-width: 0px;
  --checkbox-width: 0px;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-empty] {
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 100px;
  }

  &[data-selection-mode='multiple'] {
    --checkbox-width: calc(var(--spacing) * 6.5);
  }

  &[data-allows-dragging] {
    --drag-button-width: var(--spacing-6);
  }

  &[data-drop-target] {
    outline: 2px solid var(--highlight-background);
    outline-offset: -1px;
    background: var(--highlight-overlay);
  }

  .react-aria-DropIndicator {
    &[data-drop-target] {
      outline: 1px solid var(--highlight-background);
      margin-left: calc(
        var(--spacing-2) + var(--checkbox-width) + var(--drag-button-width) + var(--spacing-5) +
          (var(--tree-item-level) - 1) * var(--spacing-4)
      );
    }
  }
}

.react-aria-TreeItem {
  display: flex;
  align-items: center;
  min-height: var(--spacing-16);
  padding: 0 var(--spacing-5);
  border-radius: var(--radius);
  outline: none;
  cursor: default;
  color: var(--text-color);
  font: var(--font-size) system-ui;
  font-weight: 500;
  position: relative;
  transform: translateZ(0);
  transition:
    background 200ms,
    color 200ms,
    border-radius 200ms;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &[data-level='1'] {
    margin-left: 0;
  }

  &[data-level='2'] {
    padding-left: 22px;
  }
  &[data-level='3'] {
    padding-left: 32px;
  }

  > div {
    position: relative;
    display: flex !important;
    align-items: center;

    // 내부 요소들
    .react-aria-Button {
      &:not([slot]) {
        margin-left: auto;
      }

      &[slot='chevron'] {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        width: 24px;
        height: 32px;
        padding-left: calc((var(--tree-item-level) - 1) * var(--padding));

        i {
          position: relative;
          width: 18px;
          height: 18px;
          rotate: 0deg;
          transition: rotate 200ms;
          flex-shrink: 0;
        }
      }
    }

    .react-aria-Button[slot='drag'] {
      all: unset;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--spacing-4);
      text-align: center;

      &[data-focus-visible] {
        border-radius: 4px;
        outline: 2px solid var(--focus-ring-color);
      }
    }
    .tree-item-content {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      padding: 0 var(--spacing-6);
    }
  }
  &[data-expanded] {
    .react-aria-Button[slot='chevron'] i {
      rotate: 90deg;
    }
  }

  &[data-selected='true'] {
    background: var(--point-pink-5) !important;

    i {
      background: var(--point-pink-60) !important;
    }

    .tree-item-content {
      color: var(--point-pink-70);
    }
  }

  // 상태 및 속성 선택자
  &[data-has-child-items] {
    --chevron-width: 0px;

    // 하위 버튼 처리 (Nesting)
    .react-aria-Button[slot='chevron'] {
      visibility: visible;
    }
  }

  &:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    inset-inline-start: calc(
      var(--spacing-2) + var(--checkbox-width) + var(--drag-button-width) + var(--chevron-width) +
        (var(--tree-item-level) - 1) * var(--padding)
    );
    inset-inline-end: var(--spacing-2);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -2px;
  }

  &[data-pressed] {
    background: var(--highlight-hover);
  }

  &[data-selected] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    --focus-ring-color: var(--highlight-foreground);
    --border-color: transparent;

    &[data-focus-visible] {
      outline-color: var(--highlight-foreground);
      outline-offset: -4px;
    }

    // 인접 항목 스타일 (Radius 제거)
    &:has(+ [data-selected]),
    &:has(+ .react-aria-DropIndicator + [data-selected]) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      --border-color: rgb(255 255 255 / 0.3);
    }

    // 다음 요소가 선택되었을 때의 스타일
    & + [data-selected],
    & + .react-aria-DropIndicator + [data-selected] {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  &[data-href] {
    cursor: pointer;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
  }

  &[data-allows-dragging] {
    padding-left: 4px;
  }

  &[data-dragging] {
    opacity: 0.6;
  }

  &[data-drop-target] {
    outline: 2px solid var(--highlight-background);
    background: var(--highlight-overlay);
  }

  // Checkbox 스타일 커스텀
  :where(&) .react-aria-Checkbox {
    --checkmark-color: var(--highlight-background);

    &[data-selected] .indicator {
      --indicator-color: var(--highlight-foreground);
      --indicator-shadow: transparent;
    }
  }
}

.react-aria-TreeLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

.tree-container {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  background: var(--gray-A100);
  forced-color-adjust: none;
  outline: none;
  min-width: 280px;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-empty] {
    min-height: 100px;
  }
}

.tree-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-5);
  margin-bottom: var(--spacing-3);

  border-bottom: 1px solid var(--border-color);
}

.tree-header-left {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.tree-header-title {
  font-size: var(--font-size-20);
  font-weight: 500;
}

.tree-header-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
